#board{
  height: 640px;
  width: 640px;
  position: relative;
  display: grid;
  margin: 0;
  grid-template-areas: '0'
  '1'
  '2'
  '3'
  '4'
  '5'
  '6'
  '7'
  ;
  
}
.checker{
  position: absolute;
  margin-top: 10px;
  margin-right: 10px;
  z-index: 1;
}
.black{
  height: 80px;
  width: 80px;
  background-color: black;
}
.white{
  height: 80px;
  width: 80px;
  background-color: blanchedalmond;
}
.red{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: red;
}
.grey{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: grey;
}
.king{
  border-color:gold;
  border-width: 5px;
  border-style: dotted;
  margin-right: 5px;
  margin-top: 5px;
}